# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SonarQube scan result
.scannerwork/

# Dependency check reports
dependency-check-report.xml

# Trivy reports
trivyfs.txt
trivyimage.txt

# Jenkins or build temp folder
frontend@tmp/

../frontend@tmp/
../../trivyimage.txt
