/Jenkins-Server-Terraform/.terraform

# Node.js
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# CI/CD temporary files
*.scannerwork/
trivy*.txt
dependency-check-report.xml
**/@tmp/
frontend@tmp/
crawler-indexer@tmp/
search-api@tmp/
